{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet" />
    </head>
    <body>
        <main>            
            <div class="calculation-sheet-info">
                <div class="card">
                    <p class="calculation-sheet-card-name">Заявка</p>
                    <div class="order-data">
                        <div class="order-data_user-input">
                            <p>Заявка</p>
                            <input type="text" class="calc-sheet-input" value="{{ calc_sheet_info.order_no }}">                
                            <p>Номер расчетного листа</p>
                            <input type="text" class="calc-sheet-input" value="{{ calc_sheet_info.calc_sheet_no }}">
                        </div>
                        <div class="order-data_fetched">
                            <div class="div_horizontal">
                                <p>Направление:</p><input class="calc-sheet-input" type="text" value="{{order_department}}">
                                <p>Станция, от:</p><input class="calc-sheet-input" type="text" value="{{order_station_from}}">
                                <p>Станция, до:</p><input class="calc-sheet-input" type="text" value="{{order_station_to}}">
                            </div>
                            <div class="div_horizontal">
                                <p>КТК:</p><input class="calc-sheet-input" type="text" value="{{order_box}}">
                                <p>Клиент:</p><input class="calc-sheet-input order-data_client-input" type="text" value="{{order_client}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card calculation-list-total-info">
                    <p class="calculation-sheet-card-name">Итог</p>
                    <div class="order-data_total-values">
                        <div class="div_horizontal">
                            <p>Доход</p>
                            <input type="text" class="calc-sheet-input total-values-input" value="{{debit_total_sum}}">
                            <p>Расход</p>
                            <input type="text" class="calc-sheet-input total-values-input" value="{{credit_total_sum}}">
                            <p>Маржа</p>
                            <input type="text" class="calc-sheet-input total-values-input" value="{{margin_total_sum}}">
                            <p>% маржи</p>
                            <input type="text" class="calc-sheet-input total-values-input" value="{{margin_prcnt}}">
                        </div>
                    </div>
                </div>
                <div class="card calculation-list-debit">
                    <p class="calculation-sheet-card-name">Доход</p>
                    <div class="calc-sheet-table">
                        <table class="debit_table">
                            <thead>
                                <tr class="calc-row">
                                    <th class="row-contragent-td">Клиент/Поставщик</th>
                                    <th class="row-service-td">Статья услуг</th>
                                    <th class="row-currency-td">Валюта</th>
                                    <th class="row-count-td">Кол-во</th>
                                    <th class="row-single_amount-td">Цена за ед., в валюте</th>
                                    <th class="row-exchange_rate-td">Курс</th>
                                    <th class="row-has_nds-td">НДС</th>
                                    <th class="row-ttl_nds_price-td">Сумма НДС, в валюте</th>
                                    <th class="row-ttl_price_without_nds-td">Ставка без НДС, в валюте</th>
                                    <th class="row-total_price-td">Сумма, руб.</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for calc_sheet_debit_row in calc_sheet_debit_rows %}
                                <tr class="calc-row">                    
                                    <td><input value="{{calc_sheet_debit_row.calc_row_contragent}}"></td>
                                    <td><input value="{{calc_sheet_debit_row.calc_row_service_name}}"></td>
                                    <td><input value="{{calc_sheet_debit_row.calc_row_currency}}"></td>
                                    <td><input value="{{calc_sheet_debit_row.calc_row_count}}"></td>
                                    <td><input value="{{calc_sheet_debit_row.calc_row_single_amount}}"></td>
                                    <td><input value="{{calc_sheet_debit_row.calc_row_exchange_rate }}"></td>
                                    <td><input value="{{calc_sheet_debit_row.calc_row_has_nds}}"></td>
                                    <td><input value="{{calc_sheet_debit_row.calc_row_ttl_nds_price}}"></td>
                                    <td><input value="{{calc_sheet_debit_row.calc_row_ttl_price_without_nds}}"></td>
                                    <td><input value="{{calc_sheet_debit_row.total}}"></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card calculation-list-credit">
                    <p class="calculation-sheet-card-name">Расход</p>
                    <div class="calc-sheet-table">
                        <table class="credit_table">
                            <thead>
                                <tr class="calc-row">
                                    <th class="row-contragent-td">Клиент/Поставщик</th>
                                    <th class="row-service-td">Статья услуг</th>
                                    <th class="row-currency-td">Валюта</th>
                                    <th class="row-count-td">Кол-во</th>
                                    <th class="row-single_amount-td">Цена за ед., в валюте</th>
                                    <th class="row-exchange_rate-td">Курс</th>
                                    <th class="row-has_nds-td">НДС</th>
                                    <th class="row-ttl_nds_price-td">Сумма НДС, в валюте</th>
                                    <th class="row-ttl_price_without_nds-td">Ставка без НДС, в валюте</th>
                                    <th class="row-total_price-td">Сумма, руб.</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for calc_sheet_credit_row in calc_sheet_credit_rows %}
                                <tr class="calc-row">                    
                                    <td><input value="{{calc_sheet_credit_row.calc_row_contragent}}"></td>
                                    <td><input value="{{calc_sheet_credit_row.calc_row_service_name}}"></td>
                                    <td><input value="{{calc_sheet_credit_row.calc_row_currency}}"></td>
                                    <td><input value="{{calc_sheet_credit_row.calc_row_count}}"></td>
                                    <td><input value="{{calc_sheet_credit_row.calc_row_single_amount}}"></td>
                                    <td><input value="{{calc_sheet_credit_row.calc_row_exchange_rate }}"></td>
                                    <td><input value="{{calc_sheet_credit_row.calc_row_has_nds}}"></td>
                                    <td><input value="{{calc_sheet_credit_row.calc_row_ttl_nds_price}}"></td>
                                    <td><input value="{{calc_sheet_credit_row.calc_row_ttl_price_without_nds}}"></td>
                                    <td><input value="{{calc_sheet_credit_row.total}}"></td>                        
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </main>
    </body>
</html>
