{% extends 'base_layout.html' %}

{% block content %}
{% load i18n %}


<div class="create-calculation-sheet">
    <div class="card">
        <p class="calculation-sheet-card-name">{% translate 'Заявка' %}</p>
        <div class="order-data">
            <div class="order-data_user-input">
                <p>{% translate 'Заявка' %}</p>
                <input type="text" class="calc-sheet-input" value="{{ calc_sheet_info.order_no }}" disabled>                
            </div>
            <div class="order-data_fetched">
                <div class="div_horizontal">
                    <p>{% translate 'Данные из СОЛа автоматически загрузятся после выбора заявки' %}</p>
                </div>
                <div class="div_horizontal">
                    <p>{% translate 'Направление' %}:</p><input class="calc-sheet-input" type="text" value="{{order_data.department}}" disabled>
                    <p>{% translate 'Станция, от' %}:</p><input class="calc-sheet-input" type="text" value="{{order_data.station_from}}" disabled>
                    <p>{% translate 'Станция, до' %}:</p><input class="calc-sheet-input" type="text" value="{{order_data.station_to}}" disabled>
                </div>
                <div class="div_horizontal">
                    <p>{% translate 'КТК' %}:</p><input class="calc-sheet-input" type="text" value="{{order_data.box}}" disabled>
                    <p>{% translate 'Клиент' %}:</p><input class="calc-sheet-input" type="text" value="{{order_data.client}}" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="card calculation-list-total-info">
        <p class="calculation-sheet-card-name">Итог</p>
        <div class="div_horizontal">
            <p>{% translate 'Доход' %}</p>
            <input class="calc-sheet-input" type="text" id="debit-total-sum_1" disabled>
            <p>{% translate 'Расход' %}</p>
            <input class="calc-sheet-input" type="text" id="credit-total-sum_1" disabled>
            <p>{% translate 'Маржа' %}</p>
            <input class="calc-sheet-input" type="text" id="margin-total-sum" disabled>
            <p>{% translate '% маржи' %}</p>
            <input class="calc-sheet-input" type="text" id="margin-total-percent" disabled>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <p class="calculation-sheet-card-name">{% translate 'Доход' %}</p>
            {{ debit_row_formset.management_form }}
                <div class="calc-sheet-table">
                    <table class="debit_table">
                        <thead>
                            <tr class="calc-row">
                                <th class="calc_row_contragent">{% translate 'Клиент/Поставщик' %}</th>
                                <th class="calc_row_service_name">{% translate 'Статья услуг' %}</th>
                                <th class="calc_row_settlement_procedure">{% translate 'Порядок расчета' %}</th>
                                <th class="calc_row_measure">{% translate 'Ед. измерения' %}</th>
                                <th class="calc_row_departure_station">{% translate 'Место отправления' %}</th>
                                <th class="calc_row_destination_station">{% translate 'Место назначения' %}</th>
                                <th class="calc_row_currency">{% translate 'Валюта' %}</th>
                                <th class="calc_row_count">{% translate 'Кол-во' %}</th>
                                <th class="calc_row_single_amount">{% translate 'Цена за ед., в валюте' %}</th>
                                <th class="calc_row_exchange_rate">{% translate 'Курс' %}</th>
                                <th class="calc_row_ttl">{% translate 'Сумма, руб.' %}</th>  
                                <th class="delete-row-th">{% translate 'Удалить' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for debit_row_form in debit_row_formset %}
                            <tr class="calc-row">
                                {{debit_row_form.id}}
                                <td class="calc_row_type_hidden">{{debit_row_form.calc_row_type}}</td>
                                <td class="calc_row_contragent"><input type="text" name="debit-0-calc_row_contragent_text" id="id_debit-0-calc_row_contragent_text" placeholder="Начните вводить для поиска"></td>
                                <td class="calc_row_type_hidden">{{debit_row_form.calc_row_contragent}}</td>
                                <td class="calc_row_service_name"><input type="text" name="debit-0-calc_row_service_name_text" id="id_debit-0-calc_row_service_name_text" placeholder="Начните вводить для поиска"></td>
                                <td class="calc_row_type_hidden">{{debit_row_form.calc_row_service_name}}</td>
                                <td class="calc_row_settlement_procedure">{{debit_row_form.calc_row_settlement_procedure}}</td>
                                <td class="calc_row_measure">{{debit_row_form.calc_row_measure}}</td>  
                                <td class="calc_row_departure_station">{{debit_row_form.calc_row_departure_station }}</td>
                                <td class="calc_row_destination_station">{{debit_row_form.calc_row_destination_station }}</td>                                
                                <td class="calc_row_currency">{{debit_row_form.calc_row_currency}}</td>
                                <td class="calc_row_count">{{debit_row_form.calc_row_count}}</td>
                                <td class="calc_row_single_amount">{{debit_row_form.calc_row_single_amount}}</td>
                                <td class="calc_row_exchange_rate">{{debit_row_form.calc_row_exchange_rate }}</td>
                                <td class="calc_row_ttl"><input type="number" name="debit-0-calc_row_ttl" id="id_debit-0-calc_row_ttl" class="autocalc" disabled></td>                                
                                <td>{{debit_row_form.DELETE}}</td>                                
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>                    
                    <div class="calculation-sheet-button-and-total">
                        <div class="calculation-sheet-buttons">
                            <input class="base_button" type="button" value="{% translate 'Добавить новую строку' %}" id="debit row_form_add_more">
                            <input class="base_button" type="button" value="{% translate 'Удалить новую строку' %}" id="debit row_form_remove">
                        </div>            
                        <div class="calculation-sheet-total">
                            <div class="calculation-sheet-total-label"><p>{% translate 'Итого' %}:</p></div>
                            <div class="calculation-sheet-total-value"><input type="number" id="debit-total-sum_2" disabled></div>
                            <div class="calculation-sheet-total-rub-label"><p>{% translate 'руб.' %}</p></div>
                        </div>
                    </div>
                </div>            
        </div>  
                
        <div class="card">
            <p class="calculation-sheet-card-name">{% translate 'Расход' %}</p>
            {{ credit_row_formset.management_form }}
                <div class="calc-sheet-table" id="credit-form">
                    <table class="credit_table">
                        <thead>
                            <tr>
                                <th class="calc_row_contragent">{% translate 'Клиент/Поставщик' %}</th>
                                <th class="calc_row_service_name">{% translate 'Статья услуг' %}</th>
                                <th class="calc_row_settlement_procedure">{% translate 'Порядок расчета' %}</th>
                                <th class="calc_row_measure">{% translate 'Ед. измерения' %}</th>
                                <th class="calc_row_departure_station">{% translate 'Место отправления' %}</th>
                                <th class="calc_row_destination_station">{% translate 'Место назначения' %}</th>
                                <th class="calc_row_currency">{% translate 'Валюта' %}</th>
                                <th class="calc_row_count">{% translate 'Кол-во' %}</th>
                                <th class="calc_row_single_amount">{% translate 'Цена за ед., в валюте' %}</th>
                                <th class="calc_row_exchange_rate">{% translate 'Курс' %}</th>
                                <th class="calc_row_ttl">{% translate 'Сумма, руб.' %}</th>  
                                <th class="delete-row-th">{% translate 'Удалить' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for credit_row_form in credit_row_formset %}
                            <tr class="calc-row">                    
                                {{credit_row_form.id}}            
                                <td class="calc_row_type_hidden">{{credit_row_form.calc_row_type}}</td>
                                <td class="calc_row_contragent"><input type="text" name="credit-0-calc_row_contragent_text" id="id_credit-0-calc_row_contragent_text" placeholder="Начните вводить для поиска"></td>
                                <td class="calc_row_type_hidden">{{credit_row_form.calc_row_contragent}}</td>
                                <td class="calc_row_service_name"><input type="text" name="credit-0-calc_row_service_name_text" id="id_credit-0-calc_row_service_name_text" placeholder="Начните вводить для поиска"></td>
                                <td class="calc_row_type_hidden">{{credit_row_form.calc_row_service_name}}</td>                     
                                <td class="calc_row_settlement_procedure">{{credit_row_form.calc_row_settlement_procedure}}</td>                                
                                <td class="calc_row_measure">{{credit_row_form.calc_row_measure}}</td>
                                <td class="calc_row_departure_station">{{credit_row_form.calc_row_departure_station }}</td>
                                <td class="calc_row_destination_station">{{credit_row_form.calc_row_destination_station }}</td>
                                <td class="calc_row_currency">{{credit_row_form.calc_row_currency}}</td>
                                <td class="calc_row_count">{{credit_row_form.calc_row_count}}</td>
                                <td class="calc_row_single_amount">{{credit_row_form.calc_row_single_amount}}</td>
                                <td class="calc_row_exchange_rate">{{credit_row_form.calc_row_exchange_rate }}</td>
                                <td class="calc_row_ttl"><input type="number" name="credit-0-calc_row_ttl" id="id_credit-0-calc_row_ttl" class="autocalc" disabled></td>                                
                                <td>{{credit_row_form.DELETE}}</td>
                            </tr>
                        {% endfor %}                
                        </tbody>
                    </table>
                    <div class="calculation-sheet-button-and-total">
                        <div class="calculation-sheet-buttons">
                            <input class="base_button" type="button" value="{% translate 'Добавить новую строку' %}" id="credit row_form_add_more">
                            <input class="base_button" type="button" value="{% translate 'Удалить новую строку' %}" id="credit row_form_remove">
                        </div>            
                        <div class="calculation-sheet-total">
                            <div class="calculation-sheet-total-label"><p>{% translate 'Итого' %}:</p></div>
                            <div class="calculation-sheet-total-value"><input type="number" id="credit-total-sum_2" disabled></div>
                            <div class="calculation-sheet-total-rub-label"><p>{% translate 'руб.' %}</p></div>
                        </div>
                    </div>
                </div>
            
        </div>    
        <button class="base_button" type="submit">{% translate 'Сохранить' %}</button>
        
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">


<script>
    
    function calculateRowSum(row) {
        var exchange_rate = parseFloat(row.find('input[id$="calc_row_exchange_rate"]').val()) || 0; 
        var count = parseFloat(row.find('input[id$="calc_row_count"]').val()) || 0; 
        var amount = parseFloat(row.find('input[id$="calc_row_single_amount"]').val()) || 0; 
        var result = count * amount * exchange_rate || 0;
        row.find('input.autocalc').val(result.toFixed(2));
    }

    function calculateTotalTable(table) {
        var total_sum = 0;
        // Суммируем все значения в столбце "Сумма, руб."
        $(table).find('tbody tr.calc-row').each(function() {
            var row_sum = parseFloat($(this).find('input.autocalc').val()) || 0;
            total_sum += row_sum;
        });
        
        // Определяем тип таблицы (debit/credit) и обновляем соответствующий итог
        if ($(table).hasClass('debit_table')) {
            $('#debit-total-sum_1').val(total_sum.toFixed(2));
            $('#debit-total-sum_2').val(total_sum.toFixed(2));
        } else if ($(table).hasClass('credit_table')) {
            $('#credit-total-sum_1').val(total_sum.toFixed(2));
            $('#credit-total-sum_2').val(total_sum.toFixed(2));
        }
        var margin_sum = $('#debit-total-sum_1').val() - $('#credit-total-sum_1').val() || 0;
        var margin_prcnt = margin_sum / $('#debit-total-sum_1').val() * 100 || 0;
        $('#margin-total-sum').val(margin_sum.toFixed(2));
        $('#margin-total-percent').val(margin_prcnt.toFixed(2) + ' %');
    }

    // Вынесли логику автокомплита в функцию
    function initServiceArticleAutocomplete($input_text) {
        $input_text.autocomplete({
            source: function(request, response) {
                var term = request.term.toLowerCase();
                var matches = [];
                
                // Ищем совпадения в articleServicesData
                for (var i = 0; i < articleServicesData.length; i++) {
                    var service_article = articleServicesData[i].service_article || "";
                    var id = articleServicesData[i].id || "";
                    
                    // Проверяем совпадение в полях customer или inn
                    if (service_article.toLowerCase().includes(term)) {
                        matches.push({
                            label: service_article,
                            value: service_article,
                            id: id
                        });

                        if (matches.length >= 20) break;
                    }
                }
                response(matches);
            },
            minLength: 0,

            select: function(event, ui) {
                $(this).val(ui.item.value);
                // В скрытое поле calc_row_contragent прописываем id выбранного контрагента
                $(this).parent().parent().find("input[id$='calc_row_service_name']").val(ui.item.id);
                return false;
            }
        }).focus(function() {
            $(this).autocomplete("search", $(this).val());
        });
    }

    function initClientAutocomplete($input_text) {
        $input_text.autocomplete({
            source: function(request, response) {
                var term = request.term.toLowerCase();
                var matches = [];
                
                // Ищем совпадения в ClientData
                for (var i = 0; i < ClientData.length; i++) {
                    var item = ClientData[i];
                    var customer = item.customer || "";
                    var inn = item.inn || "";
                    var id = item.id || "";
                    
                    // Проверяем совпадение в полях customer или inn
                    if (customer.toLowerCase().includes(term) || 
                        inn.toLowerCase().includes(term)) {
                        matches.push({
                            label: customer + (inn ? " (" + inn + ")" : ""),
                            value: customer,
                            id: id
                        });
                        
                        // Ограничиваем результаты 10 элементами
                        if (matches.length >= 20) break;
                    }
                }
                response(matches);
            },
            minLength: 0,

            select: function(event, ui) {
                $(this).val(ui.item.value);
                // В скрытое поле calc_row_contragent прописываем id выбранного контрагента
                $(this).parent().parent().find("input[id$='calc_row_contragent']").val(ui.item.id);
                return false;
            }
        }).focus(function() {
            $(this).autocomplete("search", $(this).val());
        });
    }

    // Вынесли логику автокомплита в функцию
    function setAutocomplete($input, data) {
    $input
        .autocomplete({
        source: function(request, response) {
            var results = $.ui.autocomplete.filter(data, request.term);
            response(results.slice(0, 10));
        },
        minLength: 0
        })
        .focus(function() {
        $(this).autocomplete('search', $(this).val());
        });
    }

    // Добавление строк
    $('input[id$="row_form_add_more"]').click(function() {
        var type = this.id.split(' ')[0];
        if (type == 'credit') {
            var calc_row_type_value = "Расход";
        }
        if (type == 'debit') {
            var calc_row_type_value = "Доход";
        }
        var total = parseInt($('#id_' + type + '-TOTAL_FORMS').val(), 10);
        var last_row = $("table[class=" + type + "_table]").find('tbody').find('tr').last();
        if (last_row.length != 0) {
            // Клонируем БЕЗ событий/данных (чтобы не дублировать)
            var newRow = last_row.clone(false);

            // Перенумеровываем name и id у input’ов            
            newRow.find(':input').each(function() {
                var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
                var id   = 'id_' + name;
                $(this).attr({ name: name, id: id }).val('').removeAttr('checked');
            });
            newRow.find('label').each(function() {
                var newFor = $(this).attr('for').replace('-' + (total-1) + '-', '-' + total + '-');
                $(this).attr('for', newFor);
            });
            // Вставляем строку
            last_row.after(newRow); 
        }
        else {
            
            tbody = $("table[class=" + type + "_table]").find('tbody')
            tbody.append('<tr class="calc-row">');
            newRow = tbody.find('tr')
            newRow.append('<input type="hidden" name="' + type + '-0-id" value="" id="id_' + type + '-0-id" required="">');
            newRow.append('<td class="calc_row_type_hidden"><input type="text" name="' + type + '-0-calc_row_type" value="' + calc_row_type_value + '" id="id_' + type + '-0-calc_row_type" required=""></td>')
            newRow.append('<td class="calc_row_contragent"><input type="text" name="' + type + '-0-calc_row_contragent_text" id="id_' + type + '-0-calc_row_contragent_text" placeholder="Начните вводить для поиска" class="ui-autocomplete-input" autocomplete="off" required=""></td>')
            newRow.append('<td class="calc_row_type_hidden"><input type="text" name="' + type + '-0-calc_row_contragent" placeholder="Начните вводить для поиска" id="id_' + type + '-0-calc_row_contragent" required=""></td>')
            newRow.append('<td class="calc_row_service_name"><input type="text" name="' + type + '-0-calc_row_service_name_text" id="id_' + type + '-0-calc_row_service_name_text" placeholder="Начните вводить для поиска" class="ui-autocomplete-input" autocomplete="off" required=""></td>')
            newRow.append('<td class="calc_row_type_hidden"><input type="text" name="' + type + '-0-calc_row_service_name" placeholder="Начните вводить для поиска" id="id_' + type + '-0-calc_row_service_name" required=""></td>')
            newRow.append('<td class="calc_row_settlement_procedure"><select name="' + type + '-0-calc_row_settlement_procedure" id="id_' + type + '-0-calc_row_settlement_procedure" required="">\
                <option value=""></option>\
                <option value="PP">PP</option>\
                <option value="CC">CC</option>\
                <option value="PC">PC</option>\
                <option value="CP">CP</option>\
            </select></td>')
            newRow.append('<td class="calc_row_measure"><select name="' + type + '-0-calc_row_measure" id="id_' + type + '-0-calc_row_measure" required="">\
                <option value=""></option>\
                <option value="декларация">декларация</option>\
                <option value="контейнер">контейнер</option>\
                <option value="KGS">KGS</option>\
                <option value="TEU">TEU</option>\
                <option value="Тонна">Тонна</option>\
                <option value="SETS">SETS</option>\
                <option value="CBM">CBM</option>\
                <option value="托">托</option>\
                <option value="MT">MT</option>\
                <option value="车">车</option>\
                <option value="台">台</option>\
                <option value="DAY">DAY</option>\
                <option value="railway carriage">railway carriage</option>\
                <option value="45HC">45HC</option>\
                <option value="20 NEW VAN">20 NEW VAN</option>\
                <option value="40GP">40GP</option>\
                <option value="45RH">45RH</option>\
                <option value="40TR">40TR</option>\
                <option value="20GP">20GP</option>\
                <option value="20TK">20TK</option>\
                <option value="40HC">40HC</option>\
                <option value="40RH">40RH</option>\
                <option value="40HCRF">40HCRF</option>\
                <option value="40HC NEW VAN">40HC NEW VAN</option>\
                <option value="40HCPW">40HCPW</option>\
                <option value="40OT">40OT</option>\
                <option value="40RF">40RF</option>\
                <option value="20OT">20OT</option>\
                <option value="20HC">20HC</option>\
                <option value="20FR">20FR</option>\
                <option value="40FR">40FR</option>\
                <option value="40TK">40TK</option>\
            </select></td>')
            newRow.append('<td class="calc_row_departure_station"><input type="text" name="' + type + '-0-calc_row_departure_station" maxlength="500" id="' + type + '-0-calc_row_departure_station" required=""></td>')
            newRow.append('<td class="calc_row_destination_station"><input type="text" name="' + type + '-0-calc_row_destination_station" maxlength="500" id="' + type + '-0-calc_row_destination_station" required=""></td>')
            newRow.append('<td class="calc_row_currency"><select name="' + type + '-0-calc_row_currency" id="id_' + type + '-0-calc_row_currency" required="">\
                <option value=""></option>\
                <option value="RUB">RUB</option>\
                <option value="CNY">CNY</option>\
                <option value="USD">USD</option>\
                <option value="EUR">EUR</option>\
                <option value="KZT">KZT</option>\
            </select></td>')
            newRow.append('<td class="calc_row_count"><input type="number" name="' + type + '-0-calc_row_count" min="0" id="id_' + type + '-0-calc_row_count" required=""></td>')
            newRow.append('<td class="calc_row_single_amount"><input type="number" name="' + type + '-0-calc_row_single_amount" step="0.01" id="id_' + type + '-0-calc_row_single_amount" required=""></td>')
            newRow.append('<td class="calc_row_exchange_rate"><input type="number" name="' + type + '-0-calc_row_exchange_rate" step="0.01" id="id_' + type + '-0-calc_row_exchange_rate" required=""></td>')
            newRow.append('<td class="calc_row_ttl"><input type="number" name="' + type + '-0-calc_row_ttl" id="id_' + type + '-0-calc_row_ttl" class="autocalc" disabled=""></td>')
            newRow.append('<td></td>')

        }

        $('#id_' + type + '-TOTAL_FORMS').val(total + 1);
        newRow.find("input[id$='calc_row_type']").val(calc_row_type_value)
        newRow.find("input[id$='calc_row_exchange_rate']").val(1)

        // Инициализируем автокомплит на новом input
        initServiceArticleAutocomplete(newRow.find("input[id$='calc_row_service_name_text']"));
        initClientAutocomplete(newRow.find("input[id$='calc_row_contragent_text']"));
        calculateRowSum(newRow);      
        calculateTotalTable(newRow.closest('table')); // Пересчет после добавления  

        // Удаляем чекбокс для удаления записи из БД
        newRow.find('input[type=checkbox][id$="-DELETE"]').remove();

    });

    // Удаление строк
    $('input[id$="row_form_remove"]').click(function() {
        var type = this.id.split(' ')[0];
        var rows = $("table[class=" + type + "_table]").find('tbody').find('tr');
        
        if (rows.last().find('input[type=hidden][id$="-id"]').val() == '') {
            rows.last().remove()
            // Уменьшаем кол-во форм на 1
            var total = parseInt($('#id_' + type + '-TOTAL_FORMS').val(), 10);
            $('#id_' + type + '-TOTAL_FORMS').val(total - 1);    
        }            
        
        var table = $("table." + type + "_table");
        calculateTotalTable(table); // Пересчет после удаления
    });

    // Получаем массив из Django
    var ClientData = {{ clients_data|safe }};
    var articleServicesData = {{ article_services_data|safe }};  

    $(document).ready(function() {        
        
        $('input[id$="calc_row_service_name_text"]').each(function() {
            
            var row = $(this).closest('tr.calc-row');
            var service_name_id = row.find('input[id$="calc_row_service_name"]').val();
            let service_name_text;
            for (var i = 0; i < articleServicesData.length; i++) {
                if (service_name_id == articleServicesData[i].id) {
                    service_name_text = articleServicesData[i].service_article;
                    break;
                }
            }
            $(this).val(service_name_text);
        });

        $('input[id$="calc_row_contragent_text"]').each(function() {
            
            var row = $(this).closest('tr.calc-row');
            var customer_id = row.find('input[id$="calc_row_contragent"]').val();
            let customer_text;
            for (var i = 0; i < ClientData.length; i++) {
                if (customer_id == ClientData[i].id) {
                    customer_text = ClientData[i].customer;
                    break;
                }
            }
            $(this).val(customer_text);
        });

        $('tr.calc-row').each(function() {
            calculateRowSum($(this));
        });

        calculateTotalTable($('.debit_table'));
        calculateTotalTable($('.credit_table'));

        // При вводе данных в эти инпуты выполняем пересчет
        $('body').on('input', 'input[id$="calc_row_exchange_rate"], input[id$="calc_row_count"], input[id$="calc_row_single_amount"]', function() {
            var row = $(this).closest('tr.calc-row');
            calculateRowSum(row);
            calculateTotalTable(row.closest('table')); // Пересчет таблицы после изменения строки
        });

        // Инициализируем на уже имеющихся полях
        initServiceArticleAutocomplete($("input[id$='calc_row_service_name_text']"));
        initClientAutocomplete($("input[id$='calc_row_contragent_text']"));

        // Делаем элементы обязательными для заполнения
        $("div[class='calc-sheet-table']").find('table').find('input').prop('required', true);
        $("div[class='calc-sheet-table']").find('select').prop('required', true);
        // Кроме этих
        $("div[class='calc-sheet-table']").find('table').find('input[id$="calc_row_ttl"]').prop('required', false);
        $("div[class='calc-sheet-table']").find('table').find('input[type=checkbox]').prop('required', false);

    })
</script>
{% endblock %}

