{% extends 'base_layout.html' %}

{% block content %}
{% load i18n %}

<div class="calculation-sheet-info">
    <div class="card">
        <div class="div_horizontal">
            <p class="calculation-sheet-card-name">{% translate 'Статус заявки в Сбисе' %}: </p>
            <p class="calculation-sheet-card-name" id="order-sbis-status">{{calc_sheet_info.sbis_approval_status}}</p>
        </div>
        <div class="div_horizontal">
            <p class="calculation-sheet-card-name">{% translate 'Загружено в СОЛ' %}: </p>
            <p class="calculation-sheet-card-name" id="order-sol-status">{{calc_sheet_info.uploaded_at_sol}}</p>
        </div>
        <div class="div_horizontal">
            <div class="sbis-actions-buttons">
                {% if not calc_sheet_info.sbis_href %}
                <a href="{% url 'calculation_sheet:sbis_create_task' calc_sheet_info.id %}" class="base_button">{% translate 'Создать задачу в Сбис' %}</a>
                {% else %}
                <a href="{{ calc_sheet_info.sbis_href }}" class="base_button">{% translate 'Открыть задачу в Сбис' %}</a>
                {% endif %}
                {% if calc_sheet_info.sbis_approval_status == 'Задача согласована' and calc_sheet_info.uploaded_at_sol == 'Нет' %}
                <a href="{% url 'calculation_sheet:sol_upload_calc_sheet_to_sol' calc_sheet_info.id %}" class="base_button">{% translate 'Загрузить расчетный лист в СОЛ' %}</a>
                {% endif %}
                {% if calc_sheet_info.uploaded_at_sol == 'Да' %}
                <a href="{% url 'calculation_sheet:sol_upload_calc_sheet_to_sol' calc_sheet_info.id %}" class="base_button">{% translate 'Обновить данные расчетного листа в СОЛ' %}</a>
                {% endif %}
                <a href="{% url 'calculation_sheet:download_pdf' calc_sheet_info.id %}" class="base_button">{% translate 'Скачать ПДФ' %}</a>
                
            </div>
        </div>
    </div>
    <div class="card">
        <p class="calculation-sheet-card-name">{% translate 'Заявка' %}</p>
        <div class="order-data">
            <div class="order-data_user-input">
                <p>{% translate 'Заявка' %}</p>
                <input type="text" class="calc-sheet-input" value="{{ calc_sheet_info.order_no }}" disabled>                
            </div>
            <div class="order-data_fetched">
                <div class="div_horizontal">
                    <p>{% translate 'Данные из СОЛа' %}</p>
                </div>
                <div class="div_horizontal">
                    <p>{% translate 'Направление' %}:</p><input class="calc-sheet-input" type="text" value="{{order_department}}" disabled>
                    <p>{% translate 'Станция, от' %}:</p><input class="calc-sheet-input" type="text" value="{{order_station_from}}" disabled>
                    <p>{% translate 'Станция, до' %}:</p><input class="calc-sheet-input" type="text" value="{{order_station_to}}" disabled>
                </div>
                <div class="div_horizontal">
                    <p>{% translate 'КТК' %}:</p><input class="calc-sheet-input" type="text" value="{{order_box}}" disabled>
                    <p>{% translate 'Клиент' %}:</p><input class="calc-sheet-input" type="text" value="{{order_client}}" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="card calculation-list-total-info">
        <p class="calculation-sheet-card-name">{% translate 'Итог' %}</p>
        <div class="div_horizontal">
            <p>{% translate 'Доход' %}</p>
            <input type="text" class="calc-sheet-input" value="{{debit_total_sum}}" disabled>
            <p>{% translate 'Расход' %}</p>
            <input type="text" class="calc-sheet-input" value="{{credit_total_sum}}" disabled>
            <p>{% translate 'Маржа' %}</p>
            <input type="text" class="calc-sheet-input" value="{{margin_total_sum}}" disabled>
            <p>{% translate '% маржи' %}</p>
            <input type="text" class="calc-sheet-input" value="{{margin_prcnt}}" disabled>
        </div>
    </div>
    <div class="card calculation-list-debit">
        <p class="calculation-sheet-card-name">{% translate 'Доход' %}</p>
        <div class="calc-sheet-table">
            <table class="debit_table">
                <thead>
                    <tr class="calc-row">
                        <th class="calc_row_contragent">{% translate 'Клиент/Поставщик' %}</th>
                        <th class="calc_row_service_name">{% translate 'Статья услуг' %}</th>
                        <th class="calc_row_settlement_procedure">{% translate 'Порядок расчета' %}</th>
                        <th class="calc_row_measure">{% translate 'Ед. измерения' %}</th>
                        <th class="calc_row_departure_station">{% translate 'Место отправления' %}</th>
                        <th class="calc_row_destination_station">{% translate 'Место назначения' %}</th>
                        <th class="calc_row_currency">{% translate 'Валюта' %}</th>
                        <th class="calc_row_count">{% translate 'Кол-во' %}</th>
                        <th class="calc_row_single_amount">{% translate 'Цена за ед., в валюте' %}</th>
                        <th class="calc_row_exchange_rate">{% translate 'Курс' %}</th>
                        <th class="calc_row_ttl">{% translate 'Сумма, руб.' %}</th>  
                        
                    </tr>
                </thead>
                <tbody>
                {% for calc_sheet_debit_row in calc_sheet_debit_rows %}
                    <tr class="calc-row">                    
                        <td class="calc_row_contragent"><input disabled value="{{calc_sheet_debit_row.calc_row_contragent}}"></td>
                        <td class="calc_row_service_name"><input disabled value="{{calc_sheet_debit_row.calc_row_service_name}}"></td>
                        <td class="calc_row_settlement_procedure"><input disabled value="{{calc_sheet_debit_row.calc_row_settlement_procedure}}"></td>
                        <td class="calc_row_measure"><input disabled value="{{calc_sheet_debit_row.calc_row_measure}}"></td>
                        <td class="calc_row_departure_station"><input disabled value="{{calc_sheet_debit_row.calc_row_departure_station}}"></td>
                        <td class="calc_row_destination_station"><input disabled value="{{calc_sheet_debit_row.calc_row_destination_station}}"></td>
                        <td class="calc_row_currency"><input disabled value="{{calc_sheet_debit_row.calc_row_currency}}"></td>
                        <td class="calc_row_count"><input disabled value="{{calc_sheet_debit_row.calc_row_count}}"></td>
                        <td class="calc_row_single_amount"><input disabled value="{{calc_sheet_debit_row.calc_row_single_amount}}"></td>
                        <td class="calc_row_exchange_rate"><input disabled value="{{calc_sheet_debit_row.calc_row_exchange_rate }}"></td>
                        <td class="calc_row_ttl"><input disabled value="{{calc_sheet_debit_row.total}}"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card calculation-list-credit">
        <p class="calculation-sheet-card-name">{% translate 'Расход' %}</p>
        <div class="calc-sheet-table">
            <table class="credit_table">
                <thead>
                    <tr class="calc-row">
                        <th class="calc_row_contragent">{% translate 'Клиент/Поставщик' %}</th>
                        <th class="calc_row_service_name">{% translate 'Статья услуг' %}</th>
                        <th class="calc_row_settlement_procedure">{% translate 'Порядок расчета' %}</th>
                        <th class="calc_row_measure">{% translate 'Ед. измерения' %}</th>
                        <th class="calc_row_departure_station">{% translate 'Место отправления' %}</th>
                        <th class="calc_row_destination_station">{% translate 'Место назначения' %}</th>
                        <th class="calc_row_currency">{% translate 'Валюта' %}</th>
                        <th class="calc_row_count">{% translate 'Кол-во' %}</th>
                        <th class="calc_row_single_amount">{% translate 'Цена за ед., в валюте' %}</th>
                        <th class="calc_row_exchange_rate">{% translate 'Курс' %}</th>
                        <th class="calc_row_ttl">{% translate 'Сумма, руб.' %}</th>  
                    </tr>
                </thead>
                <tbody>
                {% for calc_sheet_credit_row in calc_sheet_credit_rows %}
                    <tr class="calc-row">                    
                        <td class="calc_row_contragent"><input disabled value="{{calc_sheet_credit_row.calc_row_contragent}}"></td>
                        <td class="calc_row_service_name"><input disabled value="{{calc_sheet_credit_row.calc_row_service_name}}"></td>
                        <td class="calc_row_settlement_procedure"><input disabled value="{{calc_sheet_credit_row.calc_row_settlement_procedure}}"></td>
                        <td class="calc_row_measure"><input disabled value="{{calc_sheet_credit_row.calc_row_measure}}"></td>
                        <td class="calc_row_departure_station"><input disabled value="{{calc_sheet_credit_row.calc_row_departure_station}}"></td>
                        <td class="calc_row_destination_station"><input disabled value="{{calc_sheet_credit_row.calc_row_destination_station}}"></td>
                        <td class="calc_row_currency"><input disabled value="{{calc_sheet_credit_row.calc_row_currency}}"></td>
                        <td class="calc_row_count"><input disabled value="{{calc_sheet_credit_row.calc_row_count}}"></td>
                        <td class="calc_row_single_amount"><input disabled value="{{calc_sheet_credit_row.calc_row_single_amount}}"></td>
                        <td class="calc_row_exchange_rate"><input disabled value="{{calc_sheet_credit_row.calc_row_exchange_rate }}"></td>
                        <td class="calc_row_ttl"><input disabled value="{{calc_sheet_credit_row.total}}"></td>                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="{% url 'calculation_sheet:edit' calc_sheet_info.id %}" class="base_button">{% translate 'Редактировать' %}</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script>
    $(document).ready(function() { 
        var sbis_status = $('#order-sbis-status').text()
        if (sbis_status == "{% translate 'Создана задача в Сбис (черновик)' %}") {
            $('#order-sbis-status').css('color', '#f52cb9')
        }
        if (sbis_status == "{% translate 'Задача в процессе согласования' %}") {
            $('#order-sbis-status').css('color', '#0672ff')
        }
        if (sbis_status == "{% translate 'Задача согласована' %}") {
            $('#order-sbis-status').css('color', '#00ac0e')
        }
        if (sbis_status == "{% translate 'Задача не согласована' %}") {
            $('#order-sbis-status').css('color', '#ee0000ff')
        }

        var sol_status = $('#order-sol-status').text()
        if (sol_status == "{% translate 'Нет' %}") {
            $('#order-sol-status').css('color', '#ee0000ff')
        }
        if (sol_status == "{% translate 'Да' %}") {
            $('#order-sol-status').css('color', '#00ac0e')
        }
    })
</script>

{% endblock %}