{% extends 'base_layout.html' %}

{% block content %}
{% load i18n %}

<div class="card">
    <form class="calc-sheet-filter-form" method="get">        
        <div>
            <p>{% translate 'Номер заявки' %}</p>
            {{ calc_sheet_filter.form.order_no }}

            <p>{% translate 'Статус заявки в Сбисе' %}</p>
            {{ calc_sheet_filter.form.sbis_approval_status }}
        </div>
        <button class="base_button" type="submit">{% translate 'Найти' %}</button>
    </form>
</div>

<div class="card">
    <a href="{% url 'calculation_sheet:create' %}" class="base_button">{% translate 'Создать р\л' %}</a>
    {% for calc_sheet in calc_sheets %}    
        <div class="card">
            <a href="{% url 'calculation_sheet:view_info' calc_sheet.id %}">
                {% translate 'Расчетный лист' %} {% translate 'по заявке' %} {{ calc_sheet.order_no}} {{calc_sheet.sbis_approval_status}}
            </a>
        </div>        
    {% endfor %}
</div>

{% endblock %}