{% extends 'base_layout.html' %}

{% block content %}
{% load i18n %}


<div class="create-calculation-sheet">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <p class="calculation-sheet-card-name">{% translate 'Заявка' %}</p>
            <div class="order-data">
                <div class="order-data_user-input">
                    <p>{% translate 'Выберите заявку из списка' %}:</p>
                    {{ calc_sheet_form.order_no }}
                </div>
                <div class="order-data_fetched">
                    <div class="div_horizontal">
                        <p>{% translate 'Данные из СОЛа автоматически загрузятся после выбора заявки' %}</p>
                    </div>
                    <div class="div_horizontal">
                        <p>{% translate 'Направление' %}:</p><input class="calc-sheet-input" type="text" id="order-data_department" disabled>
                        <p>{% translate 'Станция, от' %}:</p><input class="calc-sheet-input" type="text" id="order-data_station_from" disabled>
                        <p>{% translate 'Станция, до' %}:</p><input class="calc-sheet-input" type="text" id="order-data_station_to" disabled>
                    </div>
                    <div class="div_horizontal">
                        <p>{% translate 'КТК' %}:</p><input class="calc-sheet-input" type="text" id="order-data_ktk" disabled>
                        <p>{% translate 'Клиент' %}:</p><input class="calc-sheet-input" type="text" id="order-data_client" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="card calculation-list-total-info">
            <p class="calculation-sheet-card-name">{% translate 'Итог' %}</p>
            <div class="div_horizontal">
                <p>{% translate 'Доход' %}</p>
                <input class="calc-sheet-input" type="text" id="debit-total-sum_1" disabled>
                <p>{% translate 'Расход' %}</p>
                <input class="calc-sheet-input" type="text" id="credit-total-sum_1" disabled>
                <p>{% translate 'Маржа' %}</p>
                <input class="calc-sheet-input" type="text" id="margin-total-sum" disabled>
                <p>{% translate '% маржи' %}</p>
                <input class="calc-sheet-input" type="text" id="margin-total-percent" disabled>
            </div>
        </div>
        <div class="card">
            <p class="calculation-sheet-card-name">{% translate 'Доход' %}</p>
            {{ debit_row_formset.management_form }}
                <div class="calc-sheet-table">
                    <table class="debit_table">
                        <thead>
                            <tr class="calc-row">
                                <th>{% translate 'Клиент/Поставщик' %}</th>
                                <th>{% translate 'Статья услуг' %}</th>
                                <th>{% translate 'Порядок расчета' %}</th>
                                <th>{% translate 'Ед. измерения' %}</th>
                                <th>{% translate 'Валюта' %}</th>
                                <th>{% translate 'Кол-во' %}</th>
                                <th>{% translate 'Цена за ед., в валюте' %}</th>
                                <th>{% translate 'Курс' %}</th>
                                <th>{% translate 'Сумма, руб.' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for debit_row_form in debit_row_formset %}
                            <tr class="calc-row">
                                <td class="calc_row_type_hidden">{{debit_row_form.calc_row_type}}</td>
                                <td><input type="text" name="debit-0-calc_row_contragent_text" id="id_debit-0-calc_row_contragent_text" placeholder="Начните вводить для поиска"></td>
                                <td class="calc_row_type_hidden">{{debit_row_form.calc_row_contragent}}</td>
                                <td><input type="text" name="debit-0-calc_row_service_name_text" id="id_debit-0-calc_row_service_name_text" placeholder="Начните вводить для поиска"></td>
                                <td class="calc_row_type_hidden">{{debit_row_form.calc_row_service_name}}</td>
                                <td>{{debit_row_form.calc_row_settlement_procedure}}</td>
                                <td>{{debit_row_form.calc_row_measure}}</td>                                
                                <td>{{debit_row_form.calc_row_currency}}</td>
                                <td>{{debit_row_form.calc_row_count}}</td>
                                <td>{{debit_row_form.calc_row_single_amount}}</td>
                                <td>{{debit_row_form.calc_row_exchange_rate }}</td>
                                <td><input type="number" name="debit-0-calc_row_ttl" id="id_debit-0-calc_row_ttl" class="autocalc" disabled></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>                    
                    <div class="calculation-sheet-button-and-total">
                        <div class="calculation-sheet-buttons">
                            <input class="base_button" type="button" value="{% translate 'Добавить новую строку' %}" id="debit row_form_add_more">
                            <input class="base_button" type="button" value="{% translate 'Удалить новую строку' %}" id="debit row_form_remove">
                        </div>            
                        <div class="calculation-sheet-total">
                            <div class="calculation-sheet-total-label"><p>{% translate 'Итого' %}:</p></div>
                            <div class="calculation-sheet-total-value"><input type="number" id="debit-total-sum_2" disabled></div>
                            <div class="calculation-sheet-total-rub-label"><p>{% translate 'руб.' %}</p></div>
                        </div>
                    </div>
                </div>            
        </div>  
                
        <div class="card">
            <p class="calculation-sheet-card-name">{% translate 'Расход' %}</p>
            {{ credit_row_formset.management_form }}
                <div class="calc-sheet-table" id="credit-form">
                    <table class="credit_table">
                        <thead>
                            <tr>
                                <th>{% translate 'Клиент/Поставщик' %}</th>
                                <th>{% translate 'Статья услуг' %}</th>
                                <th>{% translate 'Порядок расчета' %}</th>
                                <th>{% translate 'Ед. измерения' %}</th>
                                <th>{% translate 'Валюта' %}</th>
                                <th>{% translate 'Кол-во' %}</th>
                                <th>{% translate 'Цена за ед., в валюте' %}</th>
                                <th>{% translate 'Курс' %}</th>
                                <th>{% translate 'Сумма, руб.' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for credit_row_form in credit_row_formset %}
                            <tr class="calc-row">                                
                                <td class="calc_row_type_hidden">{{credit_row_form.calc_row_type}}</td>
                                <td><input type="text" name="credit-0-calc_row_contragent_text" id="id_credit-0-calc_row_contragent_text" placeholder="Начните вводить для поиска"></td>
                                <td class="calc_row_type_hidden">{{credit_row_form.calc_row_contragent}}</td>
                                <td><input type="text" name="credit-0-calc_row_service_name_text" id="id_credit-0-calc_row_service_name_text" placeholder="Начните вводить для поиска"></td>
                                <td class="calc_row_type_hidden">{{credit_row_form.calc_row_service_name}}</td>                     
                                <td>{{credit_row_form.calc_row_settlement_procedure}}</td>                                
                                <td>{{credit_row_form.calc_row_measure}}</td>
                                <td>{{credit_row_form.calc_row_currency}}</td>
                                <td>{{credit_row_form.calc_row_count}}</td>
                                <td>{{credit_row_form.calc_row_single_amount}}</td>
                                <td>{{credit_row_form.calc_row_exchange_rate }}</td>
                                <td><input type="number" name="credit-0-calc_row_ttl" id="id_credit-0-calc_row_ttl" class="autocalc" disabled></td>
                            </tr>
                        {% endfor %}                
                        </tbody>
                    </table>
                    <div class="calculation-sheet-button-and-total">
                        <div class="calculation-sheet-buttons">
                            <input class="base_button" type="button" value="{% translate 'Добавить новую строку' %}" id="credit row_form_add_more">
                            <input class="base_button" type="button" value="{% translate 'Удалить новую строку' %}" id="credit row_form_remove">
                        </div>            
                        <div class="calculation-sheet-total">
                            <div class="calculation-sheet-total-label"><p>{% translate 'Итого' %}:</p></div>
                            <div class="calculation-sheet-total-value"><input type="number" id="credit-total-sum_2" disabled></div>
                            <div class="calculation-sheet-total-rub-label"><p>{% translate 'руб.' %}</p></div>
                        </div>
                    </div>
                </div>
            
        </div>    
        <button class="base_button" type="submit">{% translate 'Создать' %}</button>
        
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">


<script>
    
    function calculateRowSum(row) {
        var exchange_rate = parseFloat(row.find('input[id$="calc_row_exchange_rate"]').val()) || 0; 
        var count = parseFloat(row.find('input[id$="calc_row_count"]').val()) || 0; 
        var amount = parseFloat(row.find('input[id$="calc_row_single_amount"]').val()) || 0; 
        var result = count * amount * exchange_rate || 0;
        row.find('input.autocalc').val(result.toFixed(2));
    }

    function calculateTotalTable(table) {
        var total_sum = 0;
        // Суммируем все значения в столбце "Сумма, руб."
        $(table).find('tbody tr.calc-row').each(function() {
            var row_sum = parseFloat($(this).find('input.autocalc').val()) || 0;
            total_sum += row_sum;
        });
        
        // Определяем тип таблицы (debit/credit) и обновляем соответствующий итог
        if ($(table).hasClass('debit_table')) {
            $('#debit-total-sum_1').val(total_sum.toFixed(2));
            $('#debit-total-sum_2').val(total_sum.toFixed(2));
        } else if ($(table).hasClass('credit_table')) {
            $('#credit-total-sum_1').val(total_sum.toFixed(2));
            $('#credit-total-sum_2').val(total_sum.toFixed(2));
        }
        var margin_sum = $('#debit-total-sum_1').val() - $('#credit-total-sum_1').val() || 0;
        var margin_prcnt = margin_sum / $('#debit-total-sum_1').val() * 100 || 0;
        $('#margin-total-sum').val(margin_sum.toFixed(2));
        $('#margin-total-percent').val(margin_prcnt.toFixed(2) + ' %');
    }

    // Вынесли логику автокомплита в функцию
    function initServiceArticleAutocomplete($input_text) {
        $input_text.autocomplete({
            source: function(request, response) {
                var term = request.term.toLowerCase();
                var matches = [];
                
                // Ищем совпадения в articleServicesData
                for (var i = 0; i < articleServicesData.length; i++) {
                    var service_article = articleServicesData[i].service_article || "";
                    var id = articleServicesData[i].id || "";
                    
                    // Проверяем совпадение в полях customer или inn
                    if (service_article.toLowerCase().includes(term)) {
                        matches.push({
                            label: service_article,
                            value: service_article,
                            id: id
                        });

                        if (matches.length >= 20) break;
                    }
                }
                response(matches);
            },
            minLength: 0,

            select: function(event, ui) {
                $(this).val(ui.item.value);
                // В скрытое поле calc_row_contragent прописываем id выбранного контрагента
                $(this).parent().parent().find("input[id$='calc_row_service_name']").val(ui.item.id);
                return false;
            }
        }).focus(function() {
            $(this).autocomplete("search", $(this).val());
        });
    }

    function initClientAutocomplete($input_text) {
        $input_text.autocomplete({
            source: function(request, response) {
                var term = request.term.toLowerCase();
                var matches = [];
                
                // Ищем совпадения в ClientData
                for (var i = 0; i < ClientData.length; i++) {
                    var item = ClientData[i];
                    var customer = item.customer || "";
                    var inn = item.inn || "";
                    var id = item.id || "";
                    
                    // Проверяем совпадение в полях customer или inn
                    if (customer.toLowerCase().includes(term) || 
                        inn.toLowerCase().includes(term)) {
                        matches.push({
                            label: customer + (inn ? " (" + inn + ")" : ""),
                            value: customer,
                            id: id
                        });
                        
                        // Ограничиваем результаты 10 элементами
                        if (matches.length >= 20) break;
                    }
                }
                response(matches);
            },
            minLength: 0,

            select: function(event, ui) {
                $(this).val(ui.item.value);
                // В скрытое поле calc_row_contragent прописываем id выбранного контрагента
                $(this).parent().parent().find("input[id$='calc_row_contragent']").val(ui.item.id);
                return false;
            }
        }).focus(function() {
            $(this).autocomplete("search", $(this).val());
        });
    }

    // Вынесли логику автокомплита в функцию
    function setAutocomplete($input, data) {
    $input
        .autocomplete({
        source: function(request, response) {
            var results = $.ui.autocomplete.filter(data, request.term);
            response(results.slice(0, 10));
        },
        minLength: 0
        })
        .focus(function() {
        $(this).autocomplete('search', $(this).val());
        });
    }

    // Добавление строк
    $('input[id$="row_form_add_more"]').click(function() {
        var type = this.id.split(' ')[0];
        if (type == 'credit') {
            var calc_row_type_value = "Расход";
        }
        if (type == 'debit') {
            var calc_row_type_value = "Доход";
        }

        // Клонируем БЕЗ событий/данных (чтобы не дублировать)
        var last_row = $("table[class=" + type + "_table]").find('tr').last();

        var newRow = last_row.clone(false);

        // Перенумеровываем name и id у input’ов
        var total = parseInt($('#id_' + type + '-TOTAL_FORMS').val(), 10);
        newRow.find(':input').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
            var id   = 'id_' + name;
            $(this).attr({ name: name, id: id }).val('').removeAttr('checked');
        });
        newRow.find('label').each(function() {
            var newFor = $(this).attr('for').replace('-' + (total-1) + '-', '-' + total + '-');
            $(this).attr('for', newFor);
        });
        $('#id_' + type + '-TOTAL_FORMS').val(total + 1);

        // Вставляем строку
        last_row.after(newRow); 
        
        newRow.find("input[id$='calc_row_type']").val(calc_row_type_value)
        newRow.find("input[id$='calc_row_exchange_rate']").val(1)

        // Инициализируем автокомплит на новом input
        initServiceArticleAutocomplete(newRow.find("input[id$='calc_row_service_name_text']"));
        initClientAutocomplete($("input[id$='calc_row_contragent_text']"));
        calculateRowSum(newRow);      
        calculateTotalTable(newRow.closest('table')); // Пересчет после добавления  

    });

    // Удаление строк
    $('input[id$="row_form_remove"]').click(function() {
        var type = this.id.split(' ')[0];
        var rows = $("table[class=" + type + "_table]").find('tbody').find('tr');
        // Не удаляем если осталась 1 строка
        if (rows.length > 1) {
            rows.last().remove();
        
            // Уменьшаем кол-во форм на 1
            var total = parseInt($('#id_' + type + '-TOTAL_FORMS').val(), 10);
            $('#id_' + type + '-TOTAL_FORMS').val(total - 1);      
        }      
        
        var table = $("table." + type + "_table");
        calculateTotalTable(table); // Пересчет после удаления
    });
    
    // когда пропадает фокус с элемента id_order_no
    $('#id_order_no').focusout(function () {
        // Получаем CSRF-токен
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        // Получаем значение элемента id_order_no
        var order_no = $('#id_order_no').val();            
        // Если значение из списка
        if (Orders.includes(order_no)){
        //if (order_no.length == 16 && order_no.startsWith('MOS')) {
            $.ajax({
                data: {'job_num': $('#id_order_no').val()},
                dataType: "json",
                type: 'POST',
                url: "{% url 'calculation_sheet:check_if_calc_sheet_exists' %}",
                headers: {
                    'X-CSRFToken': csrftoken 
                },
                success: function(data) {                    
                    if (data.already_exists == 'true') {
                        $('.django-messages').append('<ul class="messages"><li class="django-messages-li-error">Расчетный лист для этой заявки уже существует.</li></ul>');
                    }
                    else {
                        $('.django-messages').empty();
                    }
                }
            })
            // Отправляем запрос
            $.ajax({
                data: {'job_num': $('#id_order_no').val()},
                dataType: "json",
                type: 'POST',
                url: "{% url 'calculation_sheet:fetch_data_for_order' %}",
                headers: {
                    'X-CSRFToken': csrftoken 
                },
                // Если запрос успешный - рендерим значения из ответа в элементы
                success: function(data) {                    
                    $("#order-data_department").val(data.department);
                    $("#order-data_ktk").val(data.box);
                    $("#order-data_client").val(data.client);
                    $("#order-data_station_from").val(data.station_from);
                    $("#order-data_station_to").val(data.station_to);
                    
                }
            })
        }
    })

    // Получаем массив из Django
    var ClientData = {{ clients_data|safe }};
    var articleServicesData = {{ article_services_data|safe }};
    var Orders = {{ orders|safe }};  

    $(document).ready(function() {

        $('tr.calc-row').each(function() {
            calculateRowSum($(this));
        });

        calculateTotalTable($('.debit_table'));
        calculateTotalTable($('.credit_table'));

        // При вводе данных в эти инпуты выполняем пересчет
        $('body').on('input', 'input[id$="calc_row_exchange_rate"], input[id$="calc_row_count"], input[id$="calc_row_single_amount"]', function() {
            var row = $(this).closest('tr.calc-row');
            calculateRowSum(row);
            calculateTotalTable(row.closest('table')); // Пересчет таблицы после изменения строки
        });

        // Инициализируем на уже имеющихся полях
        initServiceArticleAutocomplete($("input[id$='calc_row_service_name_text']"));
        setAutocomplete($("input[id='id_order_no']"), Orders);
        initClientAutocomplete($("input[id$='calc_row_contragent_text']"), $("input[id$='calc_row_contragent']"));

        // Делаем элементы обязательными для заполнения
        $("div[class='calc-sheet-table']").find('table').find('input').prop('required', true);
        $("div[class='calc-sheet-table']").find('select').prop('required',true);
        // Кроме этих
        $("div[class='calc-sheet-table']").find('table').find('input[id$="calc_row_ttl"]').prop('required', false);
        
    })
</script>
{% endblock %}

