{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Swift</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    </head>
    <body>
        <header>
            <div class="header-container">
                <nav class="navbar">
                    <ul>
                        <li class="li_right_side">
                            <form class="change-language-form" action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}"  />
                                <select name="language" id="language-select">
                                    <option value="ru">&#127479;&#127482; Русский</option>
                                    <option value="en">&#127482;&#127480; English</option>
                                    <!-- <option value="cn">&#127464;&#127475; 中文</option> -->
                                </select>
                                <input type="submit" value="{% translate 'Сменить язык' %}">
                            </form>
                        </li>
                        {% if user.get_username %}
                        <li><div>
                                <a href="{% url 'calculation_sheet:home' %}" class="base_button">{% translate 'Расчетные листы' %}</a>
                            </div>
                        </li>
                        <li class="li_right_side">
                            <div class="logout">
                                <a href="{% url 'accounts:logout' %}" class="base_button">{% translate 'Выйти' %}</a>
                            </div>
                        </li>
                        <li class="li_right_side">
                            <div>
                                <a href="{% url 'accounts:profile' %}" class="base_button">{% translate 'Профиль' %}</a>
                            </div>
                        </li>
                        
                        <li class="li_right_side">           
                            <div class="username_field">
                                {% translate 'Вы вошли как' %}: <span class="user_name">{{ user.get_username }}</span>
                            </div>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'accounts:login' %}" class="base_button">{% translate 'Войти' %}</a>
                        </li>   
                        {% endif %}                     
                    </ul>
                </nav>
            </div>            
        </header>

        <main>
            <div class="main-container">
                <div class="django-messages">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <li class="django-messages-li-{{ message.tags }}">
                                    {{ message }}
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <li class="django-messages-li-{{ message.tags }}">
                                    {{ message }}
                                </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                    {% endif %}
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer>
            <div class="footer-header">

            </div>
        </footer>
    </body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function() { 
        $("#language-select").val("{{LANGUAGE_CODE}}").change()
    })
</script>

</html>
