{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    </head>
    <body>
        <header>
            <div class="header-container">
                <nav class="navbar">
                    <ul>
                        {% if user.get_username %}
                        <li><div>
                                <a href="{% url 'calculation_sheet:home' %}" class="base_button">Расчетные листы</a>
                            </div>
                        </li>
                        <li class="li_right_side">
                            <div class="logout">
                                <form class="logout_form" action="{% url 'accounts:logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="base_button">Выйти</button>
                                </form>
                            </div>
                        </li>
                        <li class="li_right_side">           
                            <div class="username_field">
                                Вы вошли как: <span class="user_name">{{ user.get_username }}</span>
                            </div>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'accounts:login' %}" class="base_button">Войти</a>
                        </li>   
                        {% endif %}                     
                    </ul>
                </nav>
            </div>            
        </header>

        <main>
            <div class="main-container">
                <div class="django-messages">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="django-messages-li-{{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} {% endif %}
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer>
            <div class="footer-header">

            </div>
        </footer>
    </body>

</html>
