:root {
  --primary-color: #2C3E50;    /* Темно-синий для заголовков и акцентов */
  --secondary-color: #3498DB;  /* Мягкий синий для второстепенных элементов */
  --accent-color: #E67E22;     /* Теплый оранжевый для кнопок и выделения */
  --background-color: #F9F9F9; /* Светлый фон */
  --text-color: #34495E;       /* Основной цвет текста */
  --success-color: #27AE60;    /* Зеленый для позитивных элементов */
  --light-gray: #ECF0F1;       /* Светло-серый для фона секций */
}
body {
  font-family: 'Segoe UI', system-ui, sans-serif;  
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 20px;
}
h1, h2, h3 {
  color: var(--primary-color);
  font-weight: 500;
  margin: 1.5rem 0;
}
a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {color: var(--accent-color);}
.base_button {
  display: inline-block;
  padding: 12px 12px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.base_button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(230, 126, 34, 0.3);
  color: white;
}
.card {
  background: white;
  border-radius: 12px;
  padding: 8px 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  margin: 1rem 1rem;
}
body main {margin: 10px 0;}
/* Убираем стрелочки "вверх" и "вниз" у числовых инпутов */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.django-messages-li-error {
  margin: 8px;
  padding: 8px;
  list-style: none;
  background-color: #ff31319a;
  color: white;
  box-shadow: 12px 12px 12px #00000033;
  text-align: center;
}

.django-messages-li-success {
  margin: 8px;
  padding: 8px;
  list-style: none;
  background-color: #23fa0fb9;
  color: white;
  box-shadow: 12px 12px 12px #00000033;
  text-align: center;
}

/* ---------------- Навигационное меню ---------------- */
.navbar {
  background: white;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.navbar ul {margin: 0;padding: 0;}  
.navbar li {display: inline-block;margin: 5px;}
.navbar .li_right_side {float: right;}
.navbar .user_name {color: green;}
.navbar .username_field {    
  margin-top: 0.5rem;
  color: black;
}
.change-language-form {width: 150px; margin-right: 10px}
/* ------------------------------------------------------ */

/* ------------------- Расчетный лист ------------------- */
.calculation-sheet-card-name {
  font-size: large;
  font-weight: 750;
  margin: 8px 16px;
}

.calc-sheet-input, input[id='id_calc_sheet_no'] {
  width: 180px;
  height: 15px;
  padding: 5px;
  margin: 5px;
  border-width: 0.6px;
  border-style: inset;
  color: rgb(84, 84, 84);
  border-color: rgba(118, 118, 118, 0.3);
}

.calc-sheet-filter-form, .calc-sheet-filter-form * {
  display: flex;
  margin: 5px;
}

.calc-sheet-filter-form input {
  width: 180px;
  height: 15px;
  padding: 5px;
  margin: 5px;
  border-width: 0.6px;
  border-style: inset;
  color: rgb(84, 84, 84);
  border-color: rgba(118, 118, 118, 0.3);
  background-color: white;
}

.calc-sheet-filter-form #id_sbis_approval_status {
  width: 250px;
  height: 26.8px;
}

.calc-sheet-filter-form #id_has_order_no {
  width: 100px;
  height: 26.8px;
}



/* -------------- создание -------------- */

/* Карточка с данными по заявке */
.order-data {display: flex;}
.order-data p {margin: 0px;padding: 3px;}
.order-data_calc_sheet_name {display: none;}

.create-calculation-sheet input[id='id_order_no'], .create-calculation-sheet input[id='id_calc_sheet_no'] {
  background-color: rgba(255, 161, 161, 0.3);
}
.order-data_user-input {padding-left: 16px;width: 15%;min-width: 220px;}
.order-data_fetched {padding-left: 16px;padding:5px}
.order-data_fetched * {margin: 5px;padding: 5px;}

/* Карточка с доходами/расходами */ 
.div_horizontal {display: flex;padding: 0px;}
.calc-sheet-table {margin: 0px 16px;}
.calc_row_type_hidden {display: none;}
.calc-sheet-table table {width: 100%;}

.calc-sheet-table input, select {
  height: 100%;
  width: 100%;
  border-width: 1px;
  border-style: inset;
  color: rgb(84, 84, 84);
  border-color: rgba(118, 118, 118, 0.3);
}

.calc_row_contragent {width: 16%; padding: 0px 3px;}
.calc_row_departure_station, .calc_row_destination_station {width: 13%; padding: 0px 3px;}
.calc_row_service_name {width: 11%; padding: 0px 3px;}
.calc_row_measure, .calc_row_settlement_procedure, .calc_row_count {width: 7%; padding: 0px 3px;}
.calc_row_currency, .calc_row_exchange_rate {width: 5%; padding: 0px 3px;}
.calc_row_single_amount, .calc_row_ttl {width: 8%; padding: 0px 3px;}

input[id$='row_form_add_more'], input[id$='row_form_remove'] {
  margin: 5px 5px 0px 0px;
  padding: 6px 12px;
  min-width: 20px;
  width: auto;
  font-weight: 400;
  color: #F9F9F9;
  border: #F9F9F9;

}
.calculation-sheet-buttons, .calculation-sheet-total-label, .calculation-sheet-total-value, .calculation-sheet-total-rub-label {display: inline-block;}
.calculation-sheet-total {float: right;  }
.calculation-sheet-total p {margin: 3px;}
input[id='debit-total-sum'] {min-width: 100px;width: 120px;}
.calculation-sheet-total-rub-label {margin-left: 3px;}
.calculation-list-total-info p {padding: 3px; margin: 3px;}

/* -------------- Просмотр -------------- */
.sbis-actions-buttons {margin-left: 16px;}

.order-sbis-status {margin: 8px;}
/* -------------- --------- -------------- */

/* -------------- изменение -------------- */
.delete-row-th {
  color: red;
}
/* -------------- --------- -------------- */

/* ------------------------------------------------------ */


.profile-form * {
  margin: 3px 12px;
}